/* font */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap'); */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 초기화 reset ------------- */
body,
h1,
h2,
h3,
h4,
p,
button,
fieldset,
legend,
ul, ol, li {
  margin: 0;
  padding: 0;
}

button:enabled {
  cursor: pointer;
}

body{
  /* font-family: 'Nanum Myeongjo', serif; */
  font-family:  'Pretendard-Regular', sans-serif;
}

/* main --------------------- */
/* 로그인 페이지 */

.main-title {
  font-size: 24px
}

/* common.css를 공통으로 사용하기 위해 아래서부터는 login-join.css으로 나눔  */

/* 
.login,
.join {
  width: 400px;
  margin: auto;
}
.main-title,
.main-desc {
  text-align: center;
}
.main-title {
  font-size: 24px;
}
.main-desc {
  color: #767676;
  margin: 10px 0 32px;
}
*/

/* 컨테이너1 */
/* 
.main-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

/* 컨테이너2 */

/* .flex-input {
  display: flex;
  align-items: center;
} */
/* 컨테이너2:아이템 */
/* .flex-input label {
  width: 80px;
}
.flex-input input{
  height: 28px;
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
} */

/* button */
/* .login-btn,
.join-btn {
  background-color: royalblue;
  border: 0;
  border-radius: 4px;
  height: 36px;
  color: white;
  font-weight: bold;
  transition: background-color 2s ease;
}
.login-btn:hover
.join-btn:hover {
  background-color: rgb(79, 120, 249);
} */

/* field */

/* fieldset */
/* .field {
  border: 0;
}

.field legend {
  float: left;
  width: 80px;
} */

/* ->div, p */
/* .field-flex {
  display: flex;
}
.field-flex p {
  width: 80px;
  flex-shrink: 0;
}
.field ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
*/